<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<script src="../lib/js/angular-1.0.0rc3.js"></script>
	<script src="../lib/js/underscore-1.8.2.js"></script>
	<script type="text/javascript" src="todo.js"></script>
	<link rel="stylesheet" href="../lib/css/bootstrap-3.3.5.min.css">
	<link rel="stylesheet" href="todo.css">
</head>
<body>
	<div ng-controller="TodoCtrl">
		<h2>Total todos:{{getTotalTodos()}}</h2>
		<ul class="list-unstyled">
			<li ng-repeat="todo in todos">
				<input type="checkbox" ng-model="todo.done">
				<span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
		</ul>
		<form class="form-horizontal">
			<input type="text" ng-model="formTodoText" ng-model-instant>
			<button class="btn" ng-click="addTodo()"><i class="glyphicon glyphicon-plus"></i>Add</button>
		</form>
		<button class="btn-large" ng-click="clearCompleted()"><i class="glyphicon glyphicon-trash"></i>Clear completed</button>
	</div>
	
</body>
</html>